// src/.vuepress/styles/palette.scss
$theme-color: #096dd9;

$light-gray: #bcbcbc; // Platform text
$warning-color: #bcbcbc; // Caution text
$dark-gray: #0C1017; // Unused
$darker-gray: #444444; // Platform box
$darkest-gray: #888888; // Platform shadow
$dark-gray2: #444444; // Caution box
$darkest-gray2: #888888; // Caution shadow

.bg-dark-gray {
  background-color: #eeeeee; // Changelog
}